.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  padding: 10px 0px;
  border: none;
  background-color: var(--primary-bg-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 600;
  width: 175px;
  text-decoration: none;
}

.service-icon {
  font-size: 30px;
}
