.demo {
    background-color: #fafafa;
    padding-top: 80px;
    padding-bottom: 100px;
}

.demo-container {
    margin: 0 auto;
    width: 80%;
    border: #1112 2px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.demo-content {
    border: #1112 2px solid;
    gap: 30px;
    border-bottom: rgba(255, 0, 0, 0.133) 5px solid;
}

.demo-container-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.demo-container-content-heading {
    border: #1112 2px solid;
}

.demo-container-content-subheadings {
    border: #1112 2px solid;
}
