.footer {
  width: 100%;
  background-color: var(--primary-dark);
  /* match contact section */
  color: #fff;
  padding: 48px 24px;
  /* increased top/bottom padding */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.footer-content {
  max-width: 1200px;
  /* match main layout width */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* space out left/right sections */
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  /* allow stacking on small screens */
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-left a {
  text-decoration: none;
  color: var(--primary-light);
}

.footer-left-p {
  color: var(--primary-light);
}

.footer-left,
.footer-right {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* Responsive adjustments */
@media (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    /* stack text */
    text-align: center;
  }
}
