.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(126, 126, 126, 0.362);
  background-color: rgba(255, 255, 255, 0.913);
  z-index: 999;
  /* Make sure it's above everything */
}

.header-container {
  margin: auto;
  z-index: 999;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.logo {
    cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: var(--primary-bg-color);
}

.logo p {
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 24px;
}

.logo span {
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 400;
}
