@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-dark: #1a1b1d;
  --primary-light: #f3f1e0;
  --primary-accent: #ec5128;
  --secondary-accent: #dfba3e;
  --third-accent: #4a45c1;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--primary-bg-color);
}

html {
  scroll-behavior: smooth;
}

span {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
