.textblock {
    text-align: center;
}

.divider {
    height: 5px;
    background-color: var(--icon-color);
    margin: auto;
    width: 185px;
    margin-bottom: 400px;
}

span {
    font-family: Playfair Display;
    font-style: italic
}

