@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-bg-color: #f6efeb;
  --main-bg-color-05-opacity: #f6efeb86;
  --secondary-bg-color: #ffbb8e;
  --tertiary-bg-color: #ffc76e;
  --quaternary-bg-color: #0a0a0a;

  --main-font-color: #0a0a0a;
  --secondary-font-color: #f6efeb;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
